:root {
  --orange : #FFF1F1
}

body,html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
* {
  box-sizing: border-box;
}

.my-bg-orange {
  background-color: var(--orange);
}

.my-header {
  font-size: 4rem;
  line-height: 5rem;
  margin-top: 20%;
}

.my-ms-2rem {
  margin-left: 2rem;
}

.my-invalid-form-control {
  border: solid 1px red !important;
  box-shadow: none !important;
  border-radius: 7px;
}


.my-valid-form-control {
  border: solid 1px #9FDCC5 !important;
  border-radius: 7px;
  box-shadow: none !important;
}

input:focus {
  border : solid 1px var(--orange) !important;
  box-shadow: none !important;
}

.my-visibility-hidden {
  visibility: hidden;
}

.my-visibility-visible {
  visibility: visible;
}

.my-delete-modal-icon {
  font-size: 3rem;
  color: white;
}

::-webkit-input-placeholder {
  font-style: italic;
}

tr:hover {
  background-color: var(--orange) !important;
}

.table>:not(caption)>*>* {
  padding: 0 !important;
  padding-left: 1px !important;
  margin: 0 !important;
}

@media screen and (max-width : 480px) {
  /* .left-side {
   background-color: green;
   height: 80vh;
   align-items: flex-start !important;
  }
  .right-side {
   background-color: gray;
  }
  .my-header {
   font-size: 2rem;
   line-height: 2rem;
  } */
 }

