<div class="fs-1 shadow-lg p-2" style="letter-spacing: -2px;">
  <h4 class="fs-2 ms-3">your <span class="text-danger fw-bold">logo</span> ®️️</h4>
</div>

<div class="p-3">
  <div class="">
    <p class="float-start fw-bold">
      Lorem ipsum dolor sit
    </p>
    <button class="float-end btn btn-danger" (click)="onMasterDelete()" [disabled]="!isAtleastOneUserSelected"> Delete </button>
  </div>

  <table class="table table-bordered table-hover table-responsive fs-6" style="font-size: 10px;">
    <thead>
      <tr class="">
        <th>
          <input type="checkbox" class="form-check-input" [(ngModel)]="masterCheckBox" (change)="onMasterCheckBoxChange()">
        </th>
        <th>User Name <i class="fi fi-sr-sort"></i>
          <!-- <i class="fi fi-rr-sort-amount-down-alt"></i>
          <i class="fi fi-rr-sort-amount-up-alt"></i>  -->
        </th>
        <th>Phone Number <i class="fi fi-sr-sort"></i> </th>
        <th>Email ID <i class="fi fi-sr-sort"></i> </th>
        <th class="text-end">Options ℹ️</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <input type="checkbox" class="form-check-input" [(ngModel)]="user.isSelected" (change)="onUserSelectionChange()">
        </td>
        <td>{{user.userName}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.emailID}}</td>
        <td class="">
          <div class="float-end fs-6">
            <button class="btn" (click)="onDeleteUser(user.id)"><i class="fi fi-rr-trash"></i></button>
            <button class="btn"><i class="fi fi-rr-apps-sort"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
